<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if app.request.get('fbtitle') != '' %}
        <meta property="og:title" content="{{ app.request.get('fbtitle') }}" />
    {% else %}
        <meta property="og:title" content="{{ variable_value("facebook_meta_data", "fb_og_title") }}" />
    {% endif %}
    <meta property="og:description" content="{{ variable_value("facebook_meta_data", "fb_og_description") }}" />
    <meta property="og:image" content="{{ image_path(variable_value("facebook_meta_data", "fb_og_image")) }}" />  

     <link rel="shortcut icon" href="{{ image_path("theme::images/favicon.png") }}">

    {% block custom_title %}
        {% if template.breadcrumbs %}
            <title>
                {{ template.breadcrumbs.all()|keys|last|raw }} - {{ setting_value('streams::name') }}
            </title>
        {% else %}
            <title>
                {{ trans(template.meta_title) }} - {{ setting_value('streams::name') }}
            </title>
        {% endif %}
    {% endblock %}

    {{ asset_add("theme.css", "theme::stylesheets/bootstrap.scss") }}
    {{ asset_style("theme.css") }}

    {% for style in asset_styles("styles.css") %}
        {{ style|raw }}
    {% endfor %}

    {{ asset_add("jquery.js", "theme::javascripts/jquery.min.js") }}
    {{ asset_add("jquery.js", "theme::javascripts/form-validator.min.js") }}
    {{ asset_script("jquery.js", ["min"]) }}
    

    {{ constants() }}

</head>

<body>
{% if displayGTM == true %}

{% endif %}

<header>
    <div class="background-blue"></div>
    <div class="header-star"></div>
    {{ block('header_content') }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-title">
                {% block custom_page_title %}
                    {% if page.custom_title != "" %}
                        <h1>{{ page.custom_title|raw }}</h1>
                    {% else %}
                        <h1>{{ page.title }}</h1>
                    {% endif %}

                    {% if page.page_description != "" %}
                        <div class="divider"></div>
                        <p>{{ page.page_description }}</p>
                    {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>


<content>
    {% block template_content %}{% block content %}{% endblock %}{% endblock %}
</content>

<footer>
    <div class="lower">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-contact">
                    <div class="footer-content">
                        {{ setting_value('egplus.theme.statheme::left_footer')|raw }}
                    </div>
                </div>
                <div class="col-md-6 footer-copyright">
                    <div class="footer-content">
                        {{ setting_value('egplus.theme.statheme::copyright')|raw }}
                        {{ menu('footer')|raw  }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{{ asset_add("theme.js", "theme::javascripts/sly.js") }}

{{ asset_script("theme.js", ["min"]) }}

{% for script in asset_scripts("scripts.js") %}
    {{ script|raw }}
{% endfor %}

{% if displayGTM == true %}

{% endif %}

</body>

</html>
