<div class="modal-header">
    <button class="close" data-dismiss="modal">
        <span>&times;</span>
    </button>
    <h4 class="modal-title">{{ trans('module::message.choose_folder') }}</h4>
</div>

<div class="modal-body">

    {% include "streams::modals/filter" %}
    
    {% if not folders.isEmpty() %}
        <ul class="nav nav-pills nav-stacked">
            {% for folder in folders %}
                <li class="nav-item">
                    <a href="{{ url_to('admin/files/upload/' ~ folder.slug) }}" class="nav-link">
                        <strong>{{ folder.name }}</strong>
                        <br>
                        <small>{{ folder.description }}</small>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {{ trans('streams::message.no_results') }}
    {% endif %}
</div>
