<select class="{{ field_type.class }}" name="{{ field_type.input_name }}" {{ html_attributes(field_type.attributes) }}>

    <option value="">{{ trans(field_type.placeholder) }}</option>

    {% for value, option in field_type.options %}
        {% if option is iterable %}Test
            <optgroup label="{{ value }}">
                {% for value, option in option %}
                    <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>
                {% endfor %}
            </optgroup>
        {% else %}
            <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>
        {% endif %}
    {% endfor %}
</select>
