{% extends "theme::layouts/default" %}

{% block template_content %}
    <div class="content faq">
        <div class="container">
            <div class="row">
                <div class="fullscreen-xs col-sm-8 col-md-9 faq-section">
                    <div class="faq-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            This is FAQ page
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}