{% macro links(links, collection, options, depth) %}
    {% for link in links %}
        <{{ options.link_tag ?: 'li' }} class="
        {{ link.children.isEmpty() ? '' : (options.dropdown_class ?: 'dropdown') }}
        {{ link.active ? options.get('active_class', 'active') }}
        {{ link.current ? options.get('current_class', 'current') }}
        {{ options.item_class }}
        {{ link.class }}">

        <a
                href="{{ link.url }}"
                target="{{ link.target }}"
                class="{{ options.link_class }} {{ link.children.count() ? options.get('link_class_dropdown') }}"
                {{ html_attributes(options.get('link_attributes', [])) }}
                {% if link.children.count() %}
                    {{ html_attributes(options.get('link_attributes_dropdown', [])) }}
                {% endif %}
        >
            {{ link.title|raw }}
        </a>

        {% if not link.children.isEmpty() %}
            {% if depth+1 <= options.get('depth', 999) %}

                {% if options.get('dropdown_toggle') %}
                    <{{ options.get('dropdown_toggle') }}
                    class="{{ options.get('dropdown_toggle_class') }}"
                    {{ html_attributes(options.get('dropdown_toggle_attributes', []))|raw }}>
                    {{ options.get('dropdown_toggle_text')|raw }}
                    </{{ options.get('dropdown_toggle') }}>
                {% endif %}

                <{{ options.child_list_tag ?: options.list_tag ?: 'ul' }} class="{{ options.child_list_class }}">
                {{ _self.links(link.children, collection, options, depth+1) }}
                </{{ options.child_list_tag ?: options.list_tag ?: 'ul' }}>
            {% endif %}
        {% endif %}
        </{{ options.link_tag ?: 'li' }}>
    {% endfor %}
{% endmacro %}
