{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/jquery-ui.datepicker.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/jquery.timepicker.min.js") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::less/datepicker.less") }}
{{ asset_add("styles.css", "anomaly.field_type.datetime::less/timepicker.less") }}
{{ asset_add("scripts.js", "anomaly.field_type.datetime::js/input.js") }}

<div class="input-group">

    {% if field_type.config.mode in ['date', 'datetime'] %}

        <span class="input-group-addon icon" style="cursor: pointer;">
            <i class="fa fa-calendar"></i>
        </span>

        <input
                type="text"
                class="form-control"
                data-min="{{ field_type.config.min }}"
                data-max="{{ field_type.config.max }}"
                name="{{ field_type.input_name }}[date]"
                data-year-range="{{ field_type.config.year_range }}"
                value="{{ field_type.format(field_type.config.date_format) }}"
                placeholder="{{ 'now'|date(field_type.config.date_format) }}"
                data-date-format="{{ field_type.plugin_date_format }}"
                {{ html_attributes(field_type.attributes) }}
                {{ field_type.required ? 'required' }}
                {{ field_type.disabled ? 'disabled' }}
                {{ field_type.readonly ? 'readonly' }}>

    {% endif %}


    {% if field_type.config.mode in ['time', 'datetime'] %}

        <span class="input-group-addon icon" style="cursor: pointer;">
            <i class="fa fa-clock-o"></i>
        </span>

        <input
                type="text"
                class="form-control"
                name="{{ field_type.input_name }}[time]"
                value="{{ field_type.format(field_type.config.time_format) }}"
                placeholder="{{ 'now'|date(field_type.config.time_format) }}"
                data-time-format="{{ field_type.config.time_format }}"
                data-step="{{ field_type.config.step }}"
                {{ html_attributes(field_type.attributes) }}
                {{ field_type.disabled ? 'disabled' }}
                {{ field_type.readonly ? 'readonly' }}>

        <span class="input-group-addon">
            {{ field_type.config.timezone }}
        </span>

    {% endif %}

</div>
