.card {
    position: relative;
    margin-bottom: $card-spacer-y*2;
    @include shadow();

    &.card-container {
        box-shadow: none;
        background: transparent;
    }

    &.card-flex {
        display: flex;

        .card-block {
            width: 100%;
        }
    }
}

.card-label {
    color: #ffffff;
    display: inline-block;
    margin-bottom: $card-spacer-y/2;
    padding: $card-spacer-y/2 ($card-spacer-x * 2);

    &.card-label-primary {
        background: $brand-primary;
    }

    &.card-label-success {
        background: $brand-success;
    }

    &.card-label-warning {
        background: $brand-warning;
    }

    &.card-label-danger {
        background: $brand-danger;
    }

    &.card-label-info {
        background: $brand-info;
    }
}

.card-title {
    margin: 0;
    color: darken($gray-light, 20%);

    small {
        color: $gray-light;
    }
}

@include media-breakpoint-down(sm) {
    .card-block {
        padding: .5em;
    }
}
