
.nav {

    &.nav-sections {
        margin-bottom: 1em;
        background-color: #eaeced;

        li {
            text-align: center;
            display: inline-block;

            a {
                color: #8e9498;
                display: block;
                padding: 0.5em 2em;
            }

            &.active {
                a {
                    color: $gray;
                    background: #ffffff;
                }
            }
        }

        &.nav-vertical {
            float: left;
            width: 200px;
            margin-bottom: 0;

            .nav-item {
                display: block;
                text-align: left;

                .nav-link {
                    padding: 0.5em 1em;
                }
            }
        }
    }

    &.nav-pills {
        .nav-item {
            .nav-link {
                color: $body-color;

                &:hover {
                    background: $gray-lighter;
                }

                small {
                    color: $gray-light;
                }
            }
        }
    }
}

.tab-pane:not(.active) {
    display: none;
}
