<div class="custom-inputs-stacked">

    {% for value, option in field_type.options %}

        {% if option is iterable %}
            <p>{{ trans(value) }}</p>

            {% for value, option in option %}
                <label class="{#custom-control#} custom-checkbox" style="display: block;">
                    <input
                            type="checkbox"
                            value="{{ value }}"
                            name="{{ field_type.input_name }}[]"
                            {{ field_type.disabled ? 'disabled' }}
                            {{ value in field_type.config.disabled ? 'disabled' }}
                            {{ value in field_type.value ? 'checked' }}>

                    <span class="{#custom-control-indicator#}"></span>

                    {{ trans(option) }}
                </label>
            {% endfor %}
        {% else %}
            <label class="{#custom-control#} custom-checkbox" style="display: block;">
                <input
                        type="checkbox"
                        value="{{ value }}"
                        name="{{ field_type.input_name }}[]"
                        {{ field_type.disabled ? 'disabled' }}
                        {{ value in field_type.config.disabled ? 'disabled' }}
                        {{ value in field_type.value ? 'checked' }}>

                <span class="{#custom-control-indicator#}"></span>

                {{ trans(option) }}
            </label>
        {% endif %}

    {% endfor %}

</div>
